<!DOCTYPE html>
<html>
<head>
  
  <title> Creditos </title>
 
  <link rel='stylesheet' href='/stylesheets/style.css' />

   <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
<h1>Creditos>/h1>
<p>Pagina creada por:</p>
<p>Laura del Río Carazo</p>
<img src="Downloads/CV.jpg" alt='Laura'/>
</body>
</html>
